#video {
  transform: scale(-1, 1);
  /* width: 320px;
  height: 240px; */
}

#photo {
  transform: scale(-1, 1);
}

#result {
  transform: scale(-1, 1);
}

#canvas {
  display: none;
}

#magic {
  position: relative;
}

.mirror {
  /* width: 340px; */
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
}

#startbutton {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

#vanishbutton {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(150, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

#resetbutton {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 150, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}
.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}

#magicmirror {
  position: absolute;
  top: 0px;
  left: 0px;
}