#video {
  transform: scale(-1, 1);
  /* width: 320px;
  height: 240px; */
}

#photo {
  transform: scale(-1, 1);
}

#result {
  transform: scale(-1, 1);
}

#canvas {
  display: none;
}

#magic {
  position: relative;
}

.mirror {
  /* width: 340px; */
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}

#magicmirror {
  position: absolute;
  top: 0px;
  left: 0px;
}